
data-entry-textbox[b-h74nsvme2g]
 {
    display: block;
   padding: 5px;
   border: 1px solid lightgray;
   border-radius: 8px;
}

data-entry-textbox[b-h74nsvme2g]  input {
    border: 0;
    outline: none;
    padding: 3px 5px;
    
}