data-entry-control[b-4vrpgwg7b8] {
    display: flex;
    flex-direction: column;
    row-gap: 2px;
}

control-label[b-4vrpgwg7b8] {
    font-size: 0.8em;
    padding: 2px 8px;
    user-select : none;
}

control-value[b-4vrpgwg7b8] {
    padding: 0 5px;
}