loading-indicator {
    display: flex;
    align-items: center;
    justify-content: center;
}

    loading-indicator img {
        height: 40px;
        animation: spinner 2s linear infinite;
    }

@keyframes spinner {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}