loading-indicator[b-htky1wnzql] {
    display: flex;
    align-items: center;
    justify-content: center;
}

    loading-indicator img[b-htky1wnzql] {
        height: 40px;
        animation: spinner-b-htky1wnzql 2s linear infinite;
    }

@keyframes spinner-b-htky1wnzql {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}