menu-bar-icon[b-dyrkn2jcif] {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color:black;
    padding: 7px;
    border-radius: 8px;
}

menu-bar-icon img[b-dyrkn2jcif] { 
    height: 20px;
}