navigation-item-group {
    display: flex;
    flex-direction: column;
    user-select: none;
}

    navigation-item-group group-name-icon {
        display: flex;
        align-items: center;
        background-color: var(--dark-green);
        padding: 3px 10px;
        column-gap: 7px;
        color: white;
        font-size: 0.7em;
        font-weight: 500;
    }

        navigation-item-group group-name-icon group-name {
            white-space: nowrap;
        }


    navigation-item-group.collapsed group-name-icon group-name {
        display: none;
    }

    
    navigation-item-group.expanded group-name-icon group-icon img {
        height: 13px;
    }

        navigation-item-group.collapsed group-name-icon group-icon img {
        height: 40px;
    }

navigation-item-group group-items {
    display: flex;
    flex-direction: column;

}

    navigation-item-group group-items ::deep navigation-item {
        padding: 2px 30px;
    }
