resizable-container[b-275q9pntzt]
{
    display: block;
    transition: height ease-in-out 0.3s;
    overflow: hidden;
}

measuring-container[b-275q9pntzt] {
    max-height: 0;
    visibility: hidden;
}