result-list[b-23pxv4tj7u] {
    display: grid;
    grid-template-rows: max-content 1fr;
    height: 100%;
    row-gap: 10px;
}

result-list option-bar[b-23pxv4tj7u] {
    display: flex;
    align-items: center;
   
}


    result-list result-content[b-23pxv4tj7u] {
        height: 100%;
    }