loading-indicator[b-3u4wunthqz] {
    display: flex;
    align-items: center;
    justify-content: center;
}

    loading-indicator img[b-3u4wunthqz] {
        height: 40px;
        animation: spinner-b-3u4wunthqz 2s linear infinite;
    }

@keyframes spinner-b-3u4wunthqz {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}