navigation-item[b-psuchuhj29], navigation-item[b-psuchuhj29]  a {
    color: white;
    font-size: 0.8rem;
    text-decoration: none;
    user-select: none;
    background-color: var(--light-green);
    white-space: nowrap;
}

   

navigation-item .active[b-psuchuhj29] {
    font-weight: 600;
}