result-item[b-ocjin7j5lu] {
    display: grid;
    grid-template-columns: subgrid;
    grid-column: 1/6;
    background-color: white;
    border-radius: 8px;
    column-gap: 20px;
    align-items: flex-start;
}


    result-item > item-title-bar[b-ocjin7j5lu] {
        display: grid;
        grid-template-columns: subgrid;
        grid-column: 1/5;
        column-gap: 20px;
        align-items: flex-start;
        font-weight: 300;
        padding-right: 10px;
    }

        result-item > item-title-bar item-expander-options[b-ocjin7j5lu] {
            display: flex;
            column-gap: 5px;
            align-items: center;
        }

            result-item > item-title-bar item-expander-options img[b-ocjin7j5lu] {
                height: 15px;
            }

            result-item > item-title-bar item-expander-options  item-expander[b-ocjin7j5lu] {
                padding: 3px 5px;
            }


    result-item.expanded > item-title-bar item-expander-options  item-expander img[b-ocjin7j5lu] {
        transform: rotate(90deg);
    }

        result-item > item-title-bar > item-type[b-ocjin7j5lu] {
            display: flex;
            align-items: center;
            justify-content: center;
            font-size: 0.8em;
            background-color: black;
            color: white;
            border-radius: 4px;
            padding: 3px 5px;
            font-weight: 500;
            margin: 2px 0;
        }

    result-item > item-title-bar > item-title[b-ocjin7j5lu] {
        padding: 3px;
    }

       
       
       

    result-item item-content[b-ocjin7j5lu] {
        display: grid;
        grid-template-columns: max-content max-content;
        grid-column: 2/5;
    }
        result-item item-content property-list[b-ocjin7j5lu] {
            padding: 5px 10px;
            display: grid;
            grid-template-columns: subgrid;
            grid-column: 1/3;
            background-color: hsl(45, 29%, 97%);
            border-radius: 8px;
            margin-top: 10px;
            margin-bottom: 10px;
            column-gap: 50px;

        }
        result-item item-content property-list-header[b-ocjin7j5lu] {
            display: grid;
            grid-template-columns: subgrid;
            font-weight: 600;
            grid-column: 1/3;
        }


        result-item item-content property-list-contents[b-ocjin7j5lu] {
            display: grid;
            grid-template-columns: subgrid;
            grid-column: 1/3;
            column-gap: 10px;
            font-size: 0.9em;
            font-weight: 400;
            column-gap: 50px;
        }

        result-item item-content property-list-contents property-value[b-ocjin7j5lu] {
            display: flex;
            flex-direction: column;
            overflow-y: auto;
            max-height: 200px;
        }

                