schema-node-base[b-kge8hx4f6v] {
    box-shadow: rgba(0, 0, 0, 0.133) 0px 1.6px 3.6px 0px, rgba(0, 0, 0, 0.11) 0px 0.3px 0.9px 0px;
    display: grid;
    grid-template-columns: subgrid;
    grid-column: 1/6;
    border-radius: 4px;
    font-size: 0.9em;
    background-color: white;
}

schema-node-base base-name[b-kge8hx4f6v] {
    display: flex;
    align-items: center;
    padding: 5px;
    font-weight: 600;
    grid-column: 2/6;
}

    schema-node-base base-selector-name[b-kge8hx4f6v] {
        display: grid;
        grid-template-columns: subgrid;
        grid-column: 1/6;
        align-items: center;
        padding: 5px;
        user-select: none;
    }

        schema-node-base base-selector-name base-selector[b-kge8hx4f6v] {
            padding-left: 5px;
        }

        schema-node-base base-selector-name base-selector img[b-kge8hx4f6v] {
            height: 15px;
        }

    schema-node-base.expanded > base-selector-name > base-selector img[b-kge8hx4f6v] {
        transform: rotate(90deg);
    }

    schema-node-base base-selector-content[b-kge8hx4f6v] {
        display: grid;
        grid-template-columns: subgrid;
        grid-column: 2/6;
        transition: max-height 1s ease-in, height 1s ease-in;
        overflow: auto;
    }

        schema-node-base base-selector-content[b-kge8hx4f6v]  result-item:nth-child(2n) {
            background-color: whitesmoke;
        }

     