main-page[b-gd95aownec] {
    background-color: var(--light-gray);
    height: 100%;
    display: block;
}

main[b-gd95aownec] {
    transition: margin-left ease-in-out 0.2s;
    padding: 20px 0;
    margin-right: 30px;
    height: 100%;
}